.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0;   
}
    
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@font-face {
    font-family: 'Outfit', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
}
body {
    margin: auto;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
}
    

h2{
    font-family: 'Outfit';
    font-weight: 700;
    
    text-align: center;
    
        
}

p {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
        
} 
       
    /* composition */

    

    /* utility  */

.padding-24 {
    padding: 1.5rem;
}
.padding-48 {
    padding: 3rem;
}

.bg-white {
    background-color: hsl(0, 0%, 100%);
}
.card {
    max-width: 20rem;
    margin-top: 3%;
    border-radius: 20px;

}
.qr-img {
    display: block;
    margin: 5%;
    max-width: 90%;
    border-radius: 15px;  
}
    